@{
    ViewBag.Title = "GIỚI THIỆU";
}
<main aria-labelledby="title">
    <h2 id="title" style="text-align:center;">@ViewBag.Title</h2>

    <div>
        <h2 style=" text-align:center;">
            Công ty TNHH Moto Store
        </h2>
        <hr />


        <h4>
            Công ty TNHH Moto Store được thành lập ngày 01 tháng 01 năm 2019.
        </h4>

        <p>
            Hệ thống Xe Máy Online MOTO STORE  chuyên phân phối sỉ và lẻ xe máy tại khu vực TP.HCM, Bình Dương chính hãng Honda, Yamaha, xe nhập khẩu:


        </p>
        <ul>
            <li>
                <p>
                    <b>MOTO STORE Dĩ An : </b>Số 338 Trần Hưng Đạo, KP. Đông B, Phường Đông Hòa, Dĩ An, TP Dĩ An, Bình Dương.
                </p>
            </li>
            <li>
                <p>
                    <b>OTO STORE Quận 12 :</b>M Số 21A Nguyễn Ảnh Thủ, KP2, Phường Hiệp Thành, Quận 12, TP.HCM.
                </p>
            </li>
            <li>
                <p>
                    <b>MOTO STORE Bình Tân :</b> Số 463B Nguyễn Thị Tú, Phường Bình Hưng Hòa B, Quận Bình Tân, TP.HCM 
                </p>
                <p>
                    (Đại lý Yamaha chính hãng ủy nhiệm của tập đoàn Yamaha Motor Việt Nam)
                </p>
            </li>
            <li>
                <p>
                    <b>MOTO STORE Hóc Môn :</b> Số 385 Tô Ký, Ấp Mới 1, Tân Xuân, Hóc Môn, TP.HCM
                </p>
            </li>
            <li>
                <p>
                    <b>MOTO STORE Nhơn Trạch :</b> Số 720 Đường Hùng Vương, KP. Phước Hiệp, TT. Hiệp Phước, Nhơn Trạch, Đồng Nai
                </p>
            </li>
        </ul>     
       
       <p>
            Tất cả các cửa hàng thuộc <b>Hệ thống Xe Máy MOTO STORE</b> đều có khu vực bảo trì, sửa chữa, với những trang thiết bị hiện đại nhất. Ngoài ra, chúng tôi còn sở hữu đội ngũ kỹ thuật viên, tư vấn viên giỏi về nghiệp vụ chuyên môn, nhiệt tình, tận tâm phục vụ quý khách hàng. Các sản phẩm phân phối sỉ lẻ đều được cam kết chính hãng 100%, được bảo hành, bảo trì theo đúng quy định của Nhà Máy.

        </p>
        <p>
            Thế mạnh làm nên thương hiệu MOTO STORE khác biệt chính là: Lấy sự hài lòng của khách hàng làm mục tiêu kinh doanh nền tảng cho sự phát triển của công ty với phương châm  “Không ngừng cải tiến”.

        </p>
        <p>
            Sự tin tưởng và ủng hộ của quý khách hàng trong suốt thời gian qua là nguồn động viên to lớn trên bước đường phát triển của chúng tôi. Chúng tôi cam kết sẽ luôn nỗ lực cả về nhân lực, vật lực, không ngừng phát triển để đưa thương hiệu Xe Máy MOTO STORE sẽ luôn là sự lựa chọn hàng đầu của khách hàng.

        </p>


        </p>
    </div>
</main>