@{
    ViewBag.Title = "LIÊN HỆ";
}
<main aria-labelledby="title">
    <h2 id="title" style="text-align:center;">@ViewBag.Title</h2>
    <hr />

    <h5 style="color:red"> TỔNG ĐÀI CHĂM SÓC KHÁCH HÀNG MOTO SOTE</h5>
    <div>
        
        <p>
            Hotline: 028 9999 0376
        </p>
        <p>
            E-mail: xemaynamtien123@gmail.com
        </p>
        <ul>
            <li>
                <p>
                    <b>MOTO STORE Dĩ An : </b> Số 338 Trần Hưng Đạo, KP. Đông B, Phường Đông Hòa, Dĩ An, TP Dĩ An, Bình Dương.
                </p>
                <p>
                    Hotline: 098 765 4321
                </p>
            </li>
            <li>
                <p>
                    <b>OTO STORE Quận 12 :</b> Số 21A Nguyễn Ảnh Thủ, KP2, Phường Hiệp Thành, Quận 12, TP.HCM.
                </p>
                <p>
                    Hotline: 098 765 4322
                </p>
            </li>
            <li>
                <p>
                    <b>MOTO STORE Bình Tân :</b> Số 463B Nguyễn Thị Tú, Phường Bình Hưng Hòa B, Quận Bình Tân, TP.HCM (Đại lý Yamaha chính hãng ủy nhiệm của tập đoàn Yamaha Motor Việt Nam)
                </p>
                <p>
                    Hotline: 098 765 4323
                </p>
            </li>
            <li>
                <p>
                    <b>MOTO STORE Hóc Môn :</b> Số 385 Tô Ký, Ấp Mới 1, Tân Xuân, Hóc Môn, TP.HCM
                </p>
                <p>
                    Hotline: 098 765 4324
                </p>
            </li>
            <li>
                <p>
                    <b>MOTO STORE Nhơn Trạch :</b> Số 720 Đường Hùng Vương, KP. Phước Hiệp, TT. Hiệp Phước, Nhơn Trạch, Đồng Nai
                </p>
                <p>
                    Hotline: 098 765 4325
                </p>
            </li>
        </ul>
            
       
        </p>
       
      
       
    </div>
 
</main>